<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__topbar"></div>
            <div class="row">
                <div class="col-sm-8">
                    <img class="footer__logo" src="/media/logo-takenote-rgb-black.svg" alt="TakeNote" />
                    <p class="footer__copy">Improve brand satisfaction whilst gathering real-time, targeted and secure
                        insights</p>
                </div>
                <div class="col-sm-4">
                    <div class="footer__social">
                        <a href="https://www.facebook.com/TakeNoteReviews" target="_blank"><img
                                src="/media/icons/facebook.png" alt="facebook" /></a>
                        <a href="https://www.instagram.com/takenotereviews/" target="_blank"><img
                                src="/media/icons/instagram.png" alt="instagram" /></a>
                        <a href="https://twitter.com/TakeNoteReviews" target="_blank"><img
                                src="/media/icons/twitter.png" alt="twitter" /></a>
                        <a href="https://www.linkedin.com/company/takenote-reviews-ltd/" target="_blank"><img
                                src="/media/icons/linkedin.png" alt="Linkedin" /></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer__copyright">© 2020 - TakeNote | All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/bundle.js?v=3.0"></script>