<section class="homepage-vision">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="homepage-vision__holder">
                    <div class="homepage-vision__dots"></div>
                    <div class="homepage-vision__box">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="homepage-vision__title">
                                    One platform solution for
                                    <span class="color--orange">businesses</span>
                                    across the world</h2>
                                <p class="homepage-vision__copy">
                                    Our solution allows both negative and positive commentary, either “in the moment” or
                                    structured,
                                    based on a “questionnaire”, to feed directly to HQ, meaning central functions have
                                    the opportunity to immediately address issues (nipping those in the bud).
                                </p>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <img src="/media/icons/vision-1.svg" class="homepage-vision__icon" alt="" />
                                <h3 class="homepage-vision__subtitle">Dashboard</h3>
                                <p class="homepage-vision__subcopy">
                                    Customised overview and granular
                                    boards to provide insight and aid
                                    decision making.</p>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center">
                                <img src="/media/icons/vision-2.svg" class="homepage-vision__icon" alt="" />
                                <h3 class="homepage-vision__subtitle">Questionnaires</h3>
                                <p class="homepage-vision__subcopy">
                                    Tailor questionnaires to gather the exact data required to influence decision
                                    making.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="homepage-positivity">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="positivity-img">
                    <img src="/media/positivity.png" class="positivity" />
                    <img src="/media/positivity-chart.png" class="chart" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="positivity-copy">
                    <h1>We love rewarding <strong>positivity</strong></h1>
                    <p>You’ll also be able to reward positive ideas and suggestions (engaging with 1000s of people who
                        experience the business daily) and to therefore provide those key functions with actionable
                        insights
                        that could enhance the customer experience.</p>
                    <p>Through this we also help improve operational efficiency, improve employee engagement and staff
                        retention, ultimately increasing customer loyalty – and of course, all of that leads to reduced
                        costs/waste and increased revenue/profits.</p>
                    <a href="#RequestDemo" class="cta cta--lg cta--orange cta--dark-hover">Request a
                        <strong>FREE</strong>
                        trial</a>
                </div>
            </div>
        </div>
    </div>
</section>