<section class="homepage-meaningful">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Engage in <strong>meaningful</strong> ways</h1>
                <p>At TakeNote our aim is to help businesses like yours engage with
                    your stakeholders in meaningful ways, and all at a hyper-local level.
                    You’ll gather private and secure feedback from all parties in real time, giving you targeted insight
                    into exactly how they feel about your individual locations.
                </p>
                <p>Our objective is to work with forward-thinking partners across all industries who have one thing in
                    common: The desire to connect
                    with all the people that make their business great, and greater for
                    having captured and addressed the feedback.</p>
                <a href="#Categories" class="cta cta--lg cta--black cta--dark-hover">Find out more about
                    Partnerships</a>
            </div>
            <div class="col-lg-6">
                <div class="meaningful-img">
                    <img src="/media/meaningful.png" class="meaningful" />
                    <img src="/media/meaningful-review.png" class="review" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="homepage-info">

    <img src="/media/icons/triangle.svg" class="top-triangle" />
    <img src="/media/blue-shapes.svg" class="blue-shapes" />

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="top__title">Generate <strong>in-depth</strong> customer insights</h1>
                <p class="top__subtitle">With TakeNote, we encourage people to avoid posting their [negative] views on
                    social media, instead inviting them to connect directly with you, letting you know what is working
                    for them and what isn’t. From minor gripes to major issues, they will be able to give you live,
                    actionable & private feedback on how they are feeling, giving you the chance to respond quickly and
                    efficiently. </p>
            </div>
        </div>
    </div>

    <div class="homepage-info__cols">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="homepage-info__box">
                        <img class="homepage-info__image" src="/media/icons/homepage-info-1-v2.svg" alt="" />
                        <h4 class="homepage-info__title">SOLVE PRESSING ISSUES</h4>
                        <p class="homepage-info__copy">
                            Visibility over underlying issues so you can settle disputes privately.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="homepage-info__box">
                        <img class="homepage-info__image" src="/media/icons/homepage-info-2-v2.svg" alt="" />
                        <h4 class="homepage-info__title">DATA INSIGHTS</h4>
                        <p class="homepage-info__copy">
                            Collect data that helps identify what needs fixing instantly and for the longer term.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="homepage-info__box">
                        <img class="homepage-info__image" src="/media/icons/homepage-info-3-v2.svg" alt="" />
                        <h4 class="homepage-info__title">REAL-TIME FEEDBACK</h4>
                        <p class="homepage-info__copy">
                            Receive fast feedback on seasonal events
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="homepage-info__box">
                        <img class="homepage-info__image" src="/media/icons/homepage-info-4-v2.svg" alt="" />
                        <h4 class="homepage-info__title">DOWNLOAD REPORTS</h4>
                        <p class="homepage-info__copy">
                            Track overall company performance and download comprehensive reports
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="realtime">
                    <h1>Real-time monitoring</h1>
                    <p>Since reputational damage can be caused by anyone impacted by a business – a passerby, customer,
                        employee, supplier – it is critical to monitor this.</p>
                    <p>Protect the organisation, celebrate positive commentary, and address anything potentially
                        harmful…
                        Remember, often your biggest advocates come from well-handled complaints!</p>
                    <a href="#RequestDemo" class="cta cta--lg cta--orange cta--dark-hover">Request a demo</a>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="/media/laptop.png" class="realtime--laptop" />
            </div>
        </div>
    </div>

</section>