<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero__bg">
                    <h1 class="hero__title">Improve brand satisfaction
                        whilst gathering real-time, targeted and secure insights</h1>
                    <p class="hero__subtitle">Welcome to TakeNote – a new concept to connect employees, customers,
                        contractors, suppliers and the public with the central functions of organisations who would like
                        to
                        know what people are thinking, feeling and doing – good, bad or ugly!</p>

                    <div class="hero__devices hero__devices--mobileview">
                        <img src="/media/hero-devices-tablet.png" class="hero__devices--tablet" />
                        <img src="/media/hero-devices-mobile.png" class="hero__devices--mobile" />
                    </div>

                    <a href="#RequestDemo" class="cta cta--lg cta--orange cta--transparent-hover">Request a
                        <strong>FREE</strong> trial</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero__devices hero__devices--desktopview">
                    <img src="/media/hero-devices-tablet.png" class="hero__devices--tablet" />
                    <img src="/media/hero-devices-mobile.png" class="hero__devices--mobile" />
                </div>
            </div>
        </div>
    </div>
</section>