<section class="homepage-categories">

    <div class="categories-holder" id="Categories">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Share our journey with us</h3>
                    <p>Please see below some of the industries that TakeNote would love to work with in our early
                        stages. As
                        we are only just launching in June 2020 we are offering <strong>free trials</strong> to those
                        organisations who will share our journey with us and help us learn and develop along the way.
                    </p>

                    <div class="categories">
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/retail.svg" />
                                <h4>Retail</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/hospitality-leisure.svg" />
                                <h4>Hospitality & Leisure</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/property-management-agents.svg" />
                                <h4>Property Management & Agents</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/membership-orgs.svg" />
                                <h4>Membership
                                    Organisations</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/health-services-care.svg" />
                                <h4>Health Services & Care</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/emergency-services.svg" />
                                <h4>Emergency services</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/farming-agriculture.svg" />
                                <h4>Farming and Agriculture</h4>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__inner">
                                <img src="/media//icons/cats/industrial-engineering-construction.svg" />
                                <h4>Industrial, engineering and construction</h4>
                            </div>
                        </div>
                    </div>

                    <h5>OUR BELIEF</h5>
                    <p class="lowerdown">Great organisations share a common theme of “customer obsession”. Whether that
                        be internal
                        customers
                        such as employees and suppliers or whether that be external customers, including potential
                        customers.</p>
                </div>
            </div>
        </div>
    </div>

    <img src="/media/icons/morph-topv2.svg" class="morph-top" alt="" />
</section>


<section class="homepage-form">

    <div id="RequestDemo"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="homepage-form__title">Request a demo or free trial</h2>
                <p class="homepage-form__copy">See the benefits of using TakeNote instantly by requesting a demo or take
                    advantage of our free trial offer - 30 days free! Jump on a video call with one of our experts and
                    watch as they showcase the product live. </p>

                <div class="homepage-form__form">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="homepage-form__copy text-left">Name</p>
                            <input type="text" class="form-control form_name" />
                            <div class="homepage-form__error"></div>
                        </div>
                        <div class="col-md-4">
                            <p class="homepage-form__copy text-left">Phone number</p>
                            <input type="text" class="form-control form_phone" />
                            <div class="homepage-form__error"></div>
                        </div>
                        <div class="col-md-4">
                            <p class="homepage-form__copy text-left">Email address</p>
                            <input type="email" class="form-control form_email" />
                            <div class="homepage-form__error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-lg-4"></div>
                        <div class="col-md-8 col-lg-4 text-center">
                            <button class="cta cta--lg cta--black">Submit</button>
                        </div>
                        <div class="col-md-2 col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <svg class="morph-left" width="1400" height="770" viewBox="0 0 1000 770">
        <path fill="#e7eff8"
            d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" />
    </svg>

    <svg class="morph-right" width="1400" height="770" viewBox="0 0 1400 770">
        <path fill="#e7eff8"
            d="M 415.6,206.3 C 407.4,286.6 415.5,381.7 473.6,462.9 531.7,544.2 482.5,637.6 579.7,685.7 676.9,733.8 826.2,710.7 890.4,632.4 954.2,554 926.8,487.6 937.7,370 948.6,252.4 937.7,201.5 833.4,105.4 729.3,9.338 602.2,13.73 530.6,41.91 459,70.08 423.9,126.1 415.6,206.3 Z" />
    </svg>

</section>