.template--homepage {
    background-color: #ffffff;
    background-image: url('/media/hero-back-bg.png');
    background-size: 1900px;
    background-position: 50% 0%;
    background-repeat: no-repeat;

    .header--static {
        background-color: transparent;
        @media (max-width: 991px) {
            background-color: $blue;
        }
    }
}
